{% extends 'base.html.twig' %}

{% block title %}Manga Review{% endblock %}

{% block body %}
<style>
    .navbar-brand {
        margin-left: 25px;
    }

    .add-manga {
        color: white;
        text-decoration: none;
        font-family: 'Macondo';
        position: absolute;
        font-weight: bold;
        left: 500px;
        top: 17px;
    }

    .add-auteur {
        color: white;
        text-decoration: none;
        font-family: 'Macondo';
        position: absolute;
        font-weight: bold;
        left: 1000px;
        top: 17px;
    }

    .navbar-logout {
        margin-right: 25px;
    }

    .header img {
        width: 10rem;
        height: 3.3rem;
        margin-left: 1rem;
    }

    .container {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }

    table th, td {
        text-align: center;
    }

    .card {
        width: 18rem;
        height: 24rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-img-top { 
        height: 16rem;
        width: 100%;
    }

    .card-title {
        font-family: 'Righteous';
    }

    .card-body h5{
        font-style: italic;
        text-align: center;
        font-family: 'Poiret One';
        text-decoration: underline;
    }

    .container a {
        text-decoration: none;
        color: black;
        width: 100%;
    }
</style>

<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#">
        <img src="{{asset('image.png')}}" width="120" height="30" alt="">
    </a>
    <a class="add-manga" href="{{path('app_create_mangas')}}">
        <p> Ajouter un manga </p>
    </a>
    <a class="add-auteur" href="{{path('app_create_auteurs')}}">
        <p> Ajouter un auteur </p>
    </a>
    <a class="navbar-logout" href="{{path('app_logout')}}"> 
        <button class="btn btn-secondary btn-sm" type="button"> Se déconnecter </button> 
    </a>
</nav>

<body>
    <div class="container">
        {% for manga in mangas %}
            <div class="card">
                <a href="{{path('app_show_manga', {'id':  manga.id})}}"> <img src="{{asset('uploads/images/'~manga.image)}}" class="card-img-top"/> </a>
                <div class="card-body">
                    <h3 class="card-title"> <a href="{{path('app_show_manga', {'id':  manga.id})}}"> {{manga.nom}} </a> </h5>
                    <h5 class="card-body"> <a href="{{path('app_edit_auteurs', {'id':  manga.auteur_id.id})}}"> {{manga.auteur_id.nom}} {{manga.auteur_id.prenom}} </a> </h5>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
{% endblock %}
