{% extends 'base.html.twig' %}

{% block title %}Manga Review{% endblock %}

{% block body %}
<style>
    nav a {
        margin-left: 25px;
    }

    .header img{
        width: 10rem;
        height: 3.3rem;
        margin-left: 1rem;
    }

    .bg-white{
        margin: 2rem;
        border-radius: 7px;
    }

    table th, td {
        text-align: center;
    }
</style>

<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="#">
    <img src="{{asset('image.png')}}" width="120" height="30" alt="">
  </a>
</nav>

<body>
    <div class="bg-white">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th> Nom </th>
                    <th> Genre </th>
                    <th> Type </th>
                    <th> Auteur </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
            {% for manga in mangas %}
                <tr>
                    <td> {{manga.nom}} </td>
                    <td> {{manga.genre}} </td>
                    <td> {{manga.type}} </td>
                    <td> {{manga.auteur_id.nom}} </td>  
                    <td> <a href="{{path('app_edit_mangas', {id: manga.id})}}"> <button type="button" class="btn btn-primary"> <i class="fa-solid fa-pen-to-square"></i> </button> </a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>      
</body>
{% endblock %}
