{% extends 'base.html.twig' %}

{% block title %}Manga Review{% endblock %}

{% block body %}

<style>

    html, body {
        height: 80%;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .navbar-brand {
        margin-left: 25px;
    }

    .navbar-logout {
        margin-right: 25px;
    }

    .illu {
        position: absolute;
        margin-top: 2rem;
        margin-left: 4rem;
        border-radius: 3px;
        width: 300px;
        height: 400px;
        object-fit: contain;
    }

    .bg-white {
        padding-top: 3rem;
        padding-left: 25rem;
        height: 10rem;
    }

    .btn-success {
        position: absolute;
        right: 25px;
    }

    .title {
        font-family: 'Righteous';
    }

    .content {
        padding-top: 1.5rem;
        padding-left: 25rem;
        padding-right: 2rem;
    }

    .lead {
        font-family: 'Poiret One';
    }

    .content h4 {
        font-family: 'Righteous';
    }

    .text-muted {
        font-family: 'Macondo';
        font-size: 18px;
    }

    .information {
        padding-top: 1rem;
        display: flex;
        justify-content: space-around;
        font-family: 'Macondo';
        font-size: 22px;
    }

    .information span {
        font-size: 16px;
        font-style: italic;
    }

    .reviews {
        margin-top: 2.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        background-color: white;
        min-height: 100%;
    }

    .title {
        padding-top: 1rem;
        font-family: 'Righteous';
    }

    .row {
        display: flex;
    }

    .mail {
        font-family: 'Poiret One';
    }

    .date {
        text-align: right;
        font-family: 'Macondo';
    }

    .note{
        font-family: 'Poiret One';
        font-weight: bold;
    }

</style>

<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="{{path('app_mangas')}}">
        <img src="{{asset('image.png')}}" width="120" height="30" alt="">
    </a>
    <a class="navbar-logout" href="{{path('app_logout')}}"> 
        <button class="btn btn-secondary btn-sm" type="button"> Se déconnecter </button> 
    </a>
</nav>

<img src="{{asset('uploads/images/'~manga.image)}}" class="illu"/>
<div class="bg-white">
    <h2 class="title"> {{manga.nom}} <span> <a href="{{path('app_edit_mangas', {'id': manga.id})}}"><button class="btn btn-success" type="button"> <i class="fa-solid fa-pen-to-square"></i> </button> </a> </span> </h2>
    <p class="lead"> {{manga.auteur_id.nom}} {{manga.auteur_id.prenom}} </p>
</div>
<div class="content">
    <h4> Description: </h4>
    <p class="text-muted"> {{manga.description}} </p>
    <hr>
    <div class="information"> 
        <div class="genre">
            <p> Genre : <span class="text-muted"> {{manga.genre}} </span> </p>
        </div>
        <div class="type">
            <p> Type : <span class="text-muted"> {{manga.type}} </span> </p>
        </div>
        <div class="parution">
            <p> Date de parution : <span class="text-muted"> {{manga.dateParution|date('d/m/Y')}} </span> </p>
        </div>
    </div>
    <div class="information"> 
        <div class="tomes">
            <p> Nombre de tomes : <span class="text-muted"> {{manga.nbTomes}} </span> </p>
        </div>
        <div class="statut">
            {% if manga.statut == 0 %}
                <p> Statut : <span class="text-muted"> En cours </span> </p>
            {% elseif manga.statut == 1 %}
                <p> Statut : <span class="text-muted"> Terminé </span> </p>
            {% elseif manga.statut == 2 %}
                <p> Statut : <span class="text-muted"> En pause </span> </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="reviews">
    <h4 class="title"> Reviews </h4>
    <hr>
    {% for commentaire in commentaires %}
        <div class="row">
            <div class="col-md-6">
                <h4 class="mail"> {{user.email}} </h4>
            </div>
            <div class="col-md-6">
                <p class="date"> {{commentaire.createdAt|date('d/m/Y')}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-muted"> {{commentaire.contenu}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="note"> {{commentaire.note}}/5 </p>
            </div>
        </div>
        <hr>
    {% endfor %}
    <h4 class="title"> Laisser une review </h4>
    <div class="form">
        {{form_start(form)}}
        <div class="row">
            <div class="col">
                {{form_row(form.contenu)}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{form_row(form.note)}}
            </div>
        </div>
        {{form_end(form)}}
    </div>
</div>

{% endblock %}